<div id="footer">
    &reg; Novo Nordisk &nbsp;&nbsp;&nbsp;All Rights Reserved &nbsp;&nbsp;&nbsp; 
    0512-00009315-1 &nbsp;&nbsp;&nbsp;&nbsp; May 2012
    <br /><br />
    <a target="_blank" href="@Url.Content("http://www.novonordisk.com/about_us/contact_us/contact_us.asp")">Contact Us</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    <a href="#" id="footer-privacy">Privacy Policy</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    <a href="#" id="footer-privacy">Terms of Use</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    <a target="_blank" href="@Url.Content("http://www.novonordisk.com/default.asp")">About Novo Nordisk</a>
</div>