
<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
mso-outline-level:3'><b><span style='font-size:13.5pt;font-family:Times;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Disclaimer
&amp; Privacy<o:p></o:p></span></b></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
mso-outline-level:3'><b><span style='font-size:13.5pt;font-family:Times;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>1.
Privacy Policy &amp; Disclaimer<a name=policy></a><o:p></o:p></span></b></p>

<p class=MsoNormal><span style='font-size:10.0pt;font-family:"Menlo Regular";
mso-fareast-font-family:"Times New Roman"'>&#65279;</span><span
style='font-size:10.0pt;font-family:Times;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'> </span><span style='font-size:10.0pt;
font-family:Times;mso-bidi-font-family:"Times New Roman"'>Dear Visitor, at Novo
Nordisk we respect and protect your privacy. This website has been created to
provide information about our company, products and services. This privacy
policy describes how and why we collect information about you as a user. This
privacy statement applies only to information gathered on this site. We
strongly encourage you to read the privacy statements of every site you visit
that gathers personally identifiable information.</span><span style='font-size:
10.0pt;font-family:Times;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
"Times New Roman"'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
mso-outline-level:3'><b><span style='font-size:13.5pt;font-family:Times;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>2.
Why we gather information<a name=a2></a><o:p></o:p></span></b></p>

<p class=MsoNormal><span style='font-size:10.0pt;font-family:"Menlo Regular";
mso-fareast-font-family:"Times New Roman"'>&#65279;</span><span
style='font-size:10.0pt;font-family:Times;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'> </span><span class=GramE><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>We</span></span><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>
at Novo Nordisk strive to make a difference and improve the life of millions of
people affected by diabetes and other illnesses around the world. We use
information about our visitors to improve our products and gather vital information
that could help us improve our websites. Being an industry leader in Corporate
Social Responsibility we take your privacy seriously, and we only collect and
keep information as long as we need it for a specific task. We will never
transfer or sell personally identifiable information about our visitors to a
third party unless we explicitly state so at the time of collection, or ask for
your permission before doing so.</span><span style='font-size:10.0pt;
font-family:Times;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
"Times New Roman"'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
mso-outline-level:3'><b><span style='font-size:13.5pt;font-family:Times;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>3.
Two types of information<a name=a3></a><o:p></o:p></span></b></p>

<p class=MsoNormal><span style='font-size:10.0pt;font-family:"Menlo Regular";
mso-fareast-font-family:"Times New Roman"'>&#65279;</span><span
style='font-size:10.0pt;font-family:Times;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'> </span><span class=GramE><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>Some</span></span><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>
information we ask you for directly, but other information is collected
automatically. All information collected automatically is stored in an
aggregate form and <span class=GramE>can not</span> be used to identify you as
a specific individual. To provide additional functionality on our websites,
answer your enquiries, and improve our products, we occasionally ask you to
provide us with information that can at times be personally identifiable and
sensitive.</span><span style='font-size:10.0pt;font-family:Times;mso-fareast-font-family:
"Times New Roman";mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>As
a result, information gathered by us can be divided into two main categories:
personally identifiable and sensitive information, and aggregated visitor
statistics.<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;margin-bottom:12.0pt'><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>We
do not link aggregated visitor statistics with personally identifiable and
sensitive information.<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
mso-outline-level:3'><b><span style='font-size:13.5pt;font-family:Times;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Aggregated
visitor statistics<o:p></o:p></span></b></p>

<p class=MsoNormal><span style='font-size:10.0pt;font-family:"Menlo Regular";
mso-fareast-font-family:"Times New Roman"'>&#65279;</span><span
style='font-size:10.0pt;font-family:Times;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'> </span><span style='font-size:10.0pt;
font-family:Times;mso-bidi-font-family:"Times New Roman"'>When you visit one of
our websites, we automatically collect general information about your computer
and its location, as well as where you came from. This information <span
class=GramE>can not</span> be used to identify you as an individual. This
information is only used in aggregate form to tell us where our visitors come
from, what they look at, and where they spend the most time. This allows us to
improve our websites to create a better experience for you.</span><span
style='font-size:10.0pt;font-family:Times;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>Information
we gather automatically:<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>Your
referrer (i.e. where you came from, e.g. Google)<br>
Date and time of your visit<br>
<span class=GramE>Your</span> regional and language settings (to determine
which country you are in)<br>
Operating System (Windows, OS X, Linux etc.)<br>
Browser &amp; Browser Version (Internet Explorer, Firefox, Opera, Safari etc.)<br>
Screen Resolution (1280x1024, 1024x768, etc.)<br>
JavaScript support<br>
Java support<br>
Visitor ID (Provided by a cookie we place on your computer when possible, helps
us measure how many visitors return to our websites)<br>
IP address (Your computers address on the internet)<br>
<span class=GramE>The</span> title of the page you are viewing<br>
The URL of the page you are viewing<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
mso-outline-level:3'><b><span style='font-size:13.5pt;font-family:Times;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Personally
identifiable information <o:p></o:p></span></b></p>

<p class=MsoNormal><span style='font-size:10.0pt;font-family:"Menlo Regular";
mso-fareast-font-family:"Times New Roman"'>&#65279;</span><span
style='font-size:10.0pt;font-family:Times;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'> </span><span style='font-size:10.0pt;
font-family:Times;mso-bidi-font-family:"Times New Roman"'>At times, we need to
collect more personal information about you. Some of our websites might require
you to register in order to log in, in which case you will be required to
provide personal information about yourself to us. We might also collect your
name and email address to enter you into a prize draw for a survey that you
fill out on our site. We might ask you for information such as your age and
occupation to better understand our visitors, and to improve your visitor experience.
Typically, the information we ask for includes some of the following, but this
list is not exhaustive:</span><span style='font-size:10.0pt;font-family:Times;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>Contact
details, such as your name and e-mail/ postal address<br>
Basic information about you, such as age and gender<br>
Health and Treatment data<br>
Other information may also be asked, when relevant, and could include
information about lifestyle or the household you live in as these impact
aspects of managing medical conditions.<br>
In any case, whenever we ask you for any personally information that can be
used to identify you as an individual, we will always provide an explanation as
to why we gather the information, how we gather it, how we store it, and how we
plan on treating and using it.<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>We
will only gather this information if you specifically agree to ‘opt-in’, i.e.
you explicitly give us your consent to collect this information from you. We
will not gather any personally identifiable information from you unless you
specifically agree to provide it to us.<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>We
will only gather and store personally identifiable information for the purpose
stated during the gathering process. When we finish processing your information
for the stated purpose, we will erase and destroy it to ensure your privacy.<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>There
is always a lot of information that a company can ask you for, but Novo Nordisk
will only ask for information where there is a clear and necessary need for
that information, which is clearly and adequately explained to you. You will
always have a choice as to what information you provide. Also, you can write to
us and ask for a summary of information we have that relates to you or, if the
site does not provide the opportunity for you to directly edit information you
provided, contact us to have information deleted or modified. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
mso-outline-level:3'><b><span style='font-size:13.5pt;font-family:Times;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>4.
How we gather information<a name=a4></a><o:p></o:p></span></b></p>

<p class=MsoNormal><span style='font-size:10.0pt;font-family:"Menlo Regular";
mso-fareast-font-family:"Times New Roman"'>&#65279;</span><span
style='font-size:10.0pt;font-family:Times;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'> </span><span class=GramE><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>There</span></span><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>
are three main ways in which we gather information. They will be explained
below.</span><span style='font-size:10.0pt;font-family:Times;mso-fareast-font-family:
"Times New Roman";mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
mso-outline-level:3'><b><span style='font-size:13.5pt;font-family:Times;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Server
logs<o:p></o:p></span></b></p>

<p class=MsoNormal><span style='font-size:10.0pt;font-family:"Menlo Regular";
mso-fareast-font-family:"Times New Roman"'>&#65279;</span><span
style='font-size:10.0pt;font-family:Times;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'> </span><span class=GramE><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>As</span></span><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>
with most other web sites, our servers keep logs over which files were
downloaded, and which computers downloaded those files. Information gathered by
our servers can be <span class=SpellE>analysed</span> and used to create
aggregate visitor <span class=GramE>statistics which</span> we use for
evaluating and improving our sites.</span><span style='font-size:10.0pt;
font-family:Times;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
"Times New Roman"'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
mso-outline-level:3'><span class=SpellE><b><span style='font-size:13.5pt;
font-family:Times;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
"Times New Roman"'>Javascripts</span></b></span><b><span style='font-size:13.5pt;
font-family:Times;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
"Times New Roman"'><o:p></o:p></span></b></p>

<p class=MsoNormal><span style='font-size:10.0pt;font-family:"Menlo Regular";
mso-fareast-font-family:"Times New Roman"'>&#65279;</span><span
style='font-size:10.0pt;font-family:Times;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'> </span><span class=GramE><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>We</span></span><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>
use a <span class=SpellE>javascript</span> based visitor tracking solution
called <span class=SpellE>Omniture</span> Site Catalyst developed by Adobe.
This software uses cookies on your computer together with small <span
class=SpellE>javascripts</span> on our pages that are executed every time you
click somewhere on our site. We use this software for tracking clickstream data
and <span class=SpellE>analysing</span> various patterns of user <span
class=SpellE>behaviour</span>, which is vital to our understanding of our
visitor's needs and interest, and our ability to improve our sites.</span><span
style='font-size:10.0pt;font-family:Times;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>Aggregate
visitor information is sent by your computer to secure servers owned by Adobe.
Only Novo Nordisk and Adobe are allowed to access this data. Sale or transfer
of any data to a third party is strictly forbidden.<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
mso-outline-level:3'><b><span style='font-size:13.5pt;font-family:Times;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Cookies<o:p></o:p></span></b></p>

<p class=MsoNormal><span style='font-size:10.0pt;font-family:"Menlo Regular";
mso-fareast-font-family:"Times New Roman"'>&#65279;</span><span
style='font-size:10.0pt;font-family:Times;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'> </span><span class=GramE><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>A</span></span><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>
cookie is a small text file that is stored by us on your computer for
record-keeping purposes. Our <span class=SpellE>javascript</span> visitor
tracking solution uses cookies as a way of identifying whether a visitor that
comes to our site is a new visitor, or a visitor that has been to our site
before. We use both session ID and persistent cookies to track your viewing of
our site. A session cookie expires as soon as you leave our site, while a
persistent cookie stays on your computer to help us measure the number of
returning visitors to our site.</span><span style='font-size:10.0pt;font-family:
Times;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
class=GramE><span style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:
"Times New Roman"'>Cookies are also used by us to ensure that you don’t have to
enter your password or otherwise identify yourself more than once per visit</span></span><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>.<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>You
can easily remove persistent cookies from your computer by following directions
written in your browsers help documentation, you can also use your browsers
help documentation to find out how to stop your computer from accepting cookies
from the websites you visit.<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;margin-bottom:12.0pt'><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>Blocking
or erasing cookies from your computer will not affect your ability to visit or
view our site, but some functions such as surveys and tools might operate with
reduced functionality or not at all.<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
mso-outline-level:3'><b><span style='font-size:13.5pt;font-family:Times;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>5.
Chat Rooms and Forums<a name=a5></a><o:p></o:p></span></b></p>

<p class=MsoNormal><span style='font-size:10.0pt;font-family:"Menlo Regular";
mso-fareast-font-family:"Times New Roman"'>&#65279;</span><span
style='font-size:10.0pt;font-family:Times;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'> </span><span class=GramE><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>We</span></span><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>
may also use cookies in connection with our chat rooms in order to record your
preferences. These cookies may automatically store information pertaining to
the last Novo Nordisk chat room you visited, as well as certain comments that
can be issued in the chat room, in order to facilitate your experience with the
chat rooms. No additional identifying information is stored in these cookies.</span><span
style='font-size:10.0pt;font-family:Times;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>You
may also have the option of allowing us to use a cookie to store your username
and password on your computer for use in the chat rooms, forums and other
sites, as indicated on the particular site.<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;margin-bottom:12.0pt'><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>This
privacy policy does not cover the information submitted by you to chat rooms
and forums. Please be aware that we can not be held responsible for anything
you post in our chat rooms or forums, and as a result can not protect you from
disclosing personally identifiable information in our forums and chat rooms.
Please take additional caution regarding your personally identifiable
information when posting to forums and chatting in chat rooms. As soon as you
submit information to our forums, it will be made public, and could be very
difficult, if not impossible to remove from the <span class=GramE>internet</span>
afterwards.<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
mso-outline-level:3'><b><span style='font-size:13.5pt;font-family:Times;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>6.
Disclosure to Third Parties<a name=a6></a><o:p></o:p></span></b></p>

<p class=MsoNormal><span style='font-size:10.0pt;font-family:"Menlo Regular";
mso-fareast-font-family:"Times New Roman"'>&#65279;</span><span
style='font-size:10.0pt;font-family:Times;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'> </span><span class=GramE><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>The</span></span><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>
only third party that might have access to your information is our visitor
traffic tracking vendor Adobe <span class=SpellE>Omniture</span>. We store our
aggregated visitor traffic data, and survey data on their secure servers in the
United States. Adobe <span class=SpellE>Omniture</span> is strictly forbidden
from transferring any part of our data stored on their servers to any other
third party.</span><span style='font-size:10.0pt;font-family:Times;mso-fareast-font-family:
"Times New Roman";mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>We
don’t share personally identifying or sensitive information with other third
parties without your prior explicit permission, except when required by law or
official regulations. Such information is kept within Novo Nordisk or on Adobe <span
class=SpellE>Omniture’s</span> secure servers.<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;margin-bottom:12.0pt'><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>If
we want to work with another <span class=SpellE>organisation</span> where data
sharing may be considered, we will ask your permission (and are legally obliged
to do so) to share your individual information. If you agree to this, we ensure
that our partners <span class=SpellE>honour</span> this Privacy Policy.<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
mso-outline-level:3'><b><span style='font-size:13.5pt;font-family:Times;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>7.
Protection for Children<a name=a7></a><o:p></o:p></span></b></p>

<p class=MsoNormal><span style='font-size:10.0pt;font-family:"Menlo Regular";
mso-fareast-font-family:"Times New Roman"'>&#65279;</span><span
style='font-size:10.0pt;font-family:Times;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'> </span><span class=SpellE><span
style='font-size:10.0pt;font-family:"Menlo Regular";mso-fareast-font-family:
"Times New Roman"'>&#65279;</span></span><span style='font-size:10.0pt;
font-family:Times;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
"Times New Roman"'> <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>Protecting
the privacy of children is important. Novo Nordisk does not intend to collect
personally identifiable information from children (a child is defined as being
under the age of 18 without permission of the child’s parent or legal guardian.
Children should submit personally identifiable information to Novo Nordisk only
with the explicit permission of their parent or legal guardian. Where appropriate,
we will instruct children not to submit personal information. If your child has
submitted personal information and you would like to request that such
information be removed, please contact </span><a
href="mailto:contactwebmaster@novonordisk.com"><span style='font-size:10.0pt;
font-family:Times;mso-bidi-font-family:"Times New Roman"'>webmaster@novonordisk.com</span></a><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>.<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
mso-outline-level:3'><b><span style='font-size:13.5pt;font-family:Times;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>8.
Customer Questions<a name=a8></a><o:p></o:p></span></b></p>

<p class=MsoNormal><span style='font-size:10.0pt;font-family:"Menlo Regular";
mso-fareast-font-family:"Times New Roman"'>&#65279;</span><span
style='font-size:10.0pt;font-family:Times;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'> </span><span class=SpellE><span
style='font-size:10.0pt;font-family:"Menlo Regular";mso-fareast-font-family:
"Times New Roman"'>&#65279;</span></span><span style='font-size:10.0pt;
font-family:Times;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
"Times New Roman"'> </span><span class=SpellE><span style='font-size:10.0pt;
font-family:"Menlo Regular";mso-fareast-font-family:"Times New Roman"'>&#65279;</span></span><span
style='font-size:10.0pt;font-family:Times;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'> </span><span style='font-size:10.0pt;
font-family:Times;mso-bidi-font-family:"Times New Roman"'>If you have any
questions about the Novo Nordisk Privacy Policy, its implementation, the
accuracy of your personal information or the use of the information collected
you may contact us via e-mail at </span><a
href="mailto:contactwebmaster@novonordisk.com"><span style='font-size:10.0pt;
font-family:Times;mso-bidi-font-family:"Times New Roman"'>webmaster@novonordisk.com</span></a><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>
or you can reach us by telephone at +45 4444 8888. Ask for a person in
Corporate Communications. You can also mail us at:<br>
Novo Nordisk A/S,<br>
Novo <span class=SpellE>Allé</span><br>
Att. Corporate Communications<br>
2880 <span class=SpellE>Bagsværd</span><br>
Denmark</span><span style='font-size:10.0pt;font-family:Times;mso-fareast-font-family:
"Times New Roman";mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
mso-outline-level:3'><b><span style='font-size:13.5pt;font-family:Times;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>9.
Changes and Updates<a name=a9></a><o:p></o:p></span></b></p>

<p class=MsoNormal><span style='font-size:10.0pt;font-family:"Menlo Regular";
mso-fareast-font-family:"Times New Roman"'>&#65279;</span><span
style='font-size:10.0pt;font-family:Times;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'> </span><span style='font-size:10.0pt;
font-family:Times;mso-bidi-font-family:"Times New Roman"'>Novo Nordisk will
keep this Privacy Policy updated. We reserve the right to change<br>
this policy at any time. A change in <span class=GramE>internet</span> privacy
policy will be communicated here, and if this change affects your<br>
personal data, you will be contacted by us if you have given us your contact
details and permission to contact you.<br>
This policy was last updated on April 2011.</span><span style='font-size:10.0pt;
font-family:Times;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
"Times New Roman"'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;margin-bottom:12.0pt'><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>Novo
Nordisk owns the rights to this Privacy Policy text.<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
mso-outline-level:3'><b><span style='font-size:13.5pt;font-family:Times;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>10.
Legal Disclaimers<a name=a10></a><o:p></o:p></span></b></p>

<p class=MsoNormal><span style='font-size:10.0pt;font-family:"Menlo Regular";
mso-fareast-font-family:"Times New Roman"'>&#65279;</span><span
style='font-size:10.0pt;font-family:Times;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'> </span><b><span style='font-size:10.0pt;
font-family:Times;mso-bidi-font-family:"Times New Roman"'>Information purposes</span></b><span
style='font-size:10.0pt;font-family:Times;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>The
content presented on the Novo Nordisk website is presented solely for
informational purposes. The site does not provide you with advice or
recommendation of any kind and should not be relied on as the basis for any
decision or action. You are advised to consult professional advisors in the
appropriate field with respect to the applicability of any particular aspect of
the contents. In particular, nothing on this website constitutes an invitation
or offer to invest or deal in Novo Nordisk securities.<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>Further,
the site provides selected information of diseases and their treatment. Such
information is not intended as medical advice. Such information is not a
substitute for the advice of a health care professional. If you have or suspect
having any health problems, you should consult your general practitioner or
other qualified health provider.<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><b><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>Information
provided ''as is''</span></b><span style='font-size:10.0pt;font-family:Times;
mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>The
information on this site is provided &quot;as is&quot; and Novo Nordisk makes
no representations or warranties, expressed or implied, including but not
limited to the implied warranties of merchantability, fitness for a particular
purpose or non-infringement. Novo Nordisk makes no representations or
warranties of any kind as to the completeness, accuracy, timeliness,
availability, functionality and compliance with applicable laws. By using this
website you accept the risk that the information may be incomplete or
inaccurate or may not meet your needs or requirements.<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><b><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>Disclaimed
liability</span></b><span style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:
"Times New Roman"'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>Neither
Novo Nordisk nor our content providers shall be liable for any damages or
injury arising out of your access to, or inability to access, this site or from
your reliance on any information provided herein. Novo Nordisk disclaims any
and all liability for direct, indirect, incidental, consequential, punitive,
and special or other damages, lost opportunities, lost profit or any other loss
or damages of any kind. This limitation includes damages or any viruses, which
may affect your computer equipment.<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><b><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>Links
to other sites</span></b><span style='font-size:10.0pt;font-family:Times;
mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>

<p class=MsoNormal><span style='font-family:"Times New Roman"'>This website
contains links to other sites that are not owned or controlled by Novo Nordisk,
please be aware that we are not responsible for or have control over the
privacy policies of these sites.</span><span style='font-size:10.0pt;
font-family:Times;mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>

<p class=MsoNormal><span style='font-family:"Times New Roman"'>This privacy
statement applies only to information gathered on this site. We strongly encourage
you to read the privacy statements of every site you visit that gathers
personally identifiable information.</span><span style='font-size:10.0pt;
font-family:Times;mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><b><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>Sites
linking to us</span></b><span style='font-size:10.0pt;font-family:Times;
mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>Novo
Nordisk does not endorse web sites linking to Novo Nordisk sites. Novo Nordisk
is not responsible for content on these liked sites or for control over
information that users may choose to provide to these sites.<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><b><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>Alterations</span></b><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>Novo
Nordisk reserves its right to alter, modify, substitute or delete any content
of or may restrict access to or discontinue distribution of this site at any
time and at its sole discretion.<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><b><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>Copyright
and use of content</span></b><span style='font-size:10.0pt;font-family:Times;
mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>The
content of this website is the property of Novo Nordisk and is protected by
copyright laws. The trademarks, service marks, trade names, logos and product
displayed on this site are protected worldwide, and no use of any of these may
be made without the prior written consent of Novo Nordisk. You are welcome to
download the content of this website, however, only for your personal and
non-commercial use. No modification or further reproduction of the contents is
permitted. The content may otherwise not be copied or used in any other manner.<o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><b><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>Use
of questions and comments</span></b><span style='font-size:10.0pt;font-family:
Times;mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>Any
questions, comments, suggestions or any other communications, including any
ideas, inventions, concepts, techniques or know how you may forward to this
site or otherwise to Novo Nordisk, electronically or by any other means, are on
a non-confidential basis and will become the property of Novo Nordisk, which
Novo Nordisk without restriction may use in any fashion and for any purposes
whatsoever including developing, manufacturing and/or marketing goods or
services.<o:p></o:p></span></p>

<p class=MsoNormal><b><span style='font-size:10.0pt;font-family:Times;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman"'>Governing
Law</span></b><span style='font-size:10.0pt;font-family:Times;mso-fareast-font-family:
"Times New Roman";mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='font-size:10.0pt;font-family:Times;mso-bidi-font-family:"Times New Roman"'>Your
access and use of this website and the contents hereof shall be governed by and
interpreted in accordance with the Laws of Denmark<o:p></o:p></span></p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

