<div id="top-picks">
    <div>
        <a href="#">
            Ever feel as if the costs of diabetes management just keep coming around?
        </a>
    </div>
    <div>
        <a href="#">
            Quality care: standards to enhance healthcare value in diabetes
        </a>
    </div>
    <div>
        <a href="#">
            The economic impact of diabetes
        </a>
    </div>
    <div>
        <a href="#">
            The facts about hypoglycemia: a case manager's guide
        </a>
    </div>
    <div>
        <a href="#">
            Hypoglycemia: a barrier to glycemic control
        </a>
    </div>
</div>